name: ubuntu

on:
  workflow_dispatch:
    inputs:
      name:
        default: 'hello'

jobs:
  check:
    outputs:
      result: ${{ steps.check.outcome }}
    timeout-minutes: 7200
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: create github.json
      env:
        githubJson : ${{ toJson(github) }}
      run: |
        mkdir sample
        cd sample
        echo $githubJson |jq . > github.json
        yq -o json ./github/workflows/cache.yml |jq -c > workflow.json

    - uses: actions/upload-artifact@v4
      with:
        path: sample

    - name: create git.json
      env:
        githubJson : ${{ toJson(github) }}
      run: |
        echo $githubJson |jq . > git.json
        tar -zcvf json.tgz git.json

    - uses: actions/upload-artifact@v4
      with:
        overwrite: true
        path: |
          json.tgz
          git.json

    - name: clear
      run: |
        rm -fr ./*

    - uses: actions/download-artifact@v4
      with:
        path: .

    - name: check
      if: always()
      id: check
      env:
        GH_TOKEN: ${{ secrets.ACTION_GITHUB_TOKEN }}
        stepsJson: ${{ toJson(steps) }}
      run: |
        ls -lR

        ARTIFACT_IDS=$(gh api repos/${{ github.repository }}/actions/artifacts --jq ".artifacts[] | select(.workflow_run.id == ${{ github.run_id }}) | .id")
        
        for ID in $ARTIFACT_IDS; do
          if [ -n "$ID" ]; then
            echo "Deleting artifact ID: $ID"
            gh api repos/${{ github.repository }}/actions/artifacts/$ID -X DELETE
          fi
        done
  post:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - name: result
        env:
          NEEDS_JSON: ${{ toJson(needs) }}
        run: |
          echo ${NEEDS_JSON}

